.overview .currentPlanet {
	background-color: $$main_background;
	border: 1px solid $$main_single_border_outer;
	
	if($desktop) {
		box-sizing: border-box;
		height: 16em;
		position: relative;
		width: 46em;
	}
	if($mobile) {
		height: 10.25em;
		position: relative;
	}
	
	img.currentPlanetFull {
		if($desktop) {
			display: none;
			float: left;
			height: 100px;
			width: 100px;
		}
		
		if($mobile) {
			display: none;
		}
	}
	img.currentPlanetBackground {
		if($desktop) {
			bottom: 0;
			height: 16em;
			position: absolute;
			right: 0;
			width: 46em;
			z-index: 4;
		}
		if($mobile) {
			display: none;
		}
	}
	
	//a.correspondingPlanet {
	img.correspondingPlanet {
		if($desktop) {
			height: 8em;
			left: 1em;
			position: absolute;
			top: 1em;
			width: 8em;
			z-index: 5;
		}
		if($mobile) {
			display: none;
		}
	}
	.info {
		if($desktop) {
			float: left;
		}
		if($mobile) {
			height: 100%;
		}
	}
	
	dl {
		position: absolute;
		z-index: 6;
	}
	dt,
	dd {
		float: left;
	}
	dt {
		clear: left;
		margin-right: 0.4em;
		text-align: right;
		width: 100px;
	}
	dt.name {
		font-weight: bold;
	}
	/*dt.selfDescribing {
		visibility: hidden;
	}
	dd.selfDescribing {
		font-weight: bold;
	}*/
	dd.rank.position {
		color: #BFC4FF;
		cursor: pointer;
		font-weight: bold;
		
		&::after {
			color: #EEE;
			content: "/";
			font-weight: normal;
			margin: 0 0.25em;
		}
	}
	dd.diameter::after {
		content: "km";
		margin-left: 0.1667em;
	}
	dd.fields.used::after {
		content: "/";
		margin: 0 0.25em;
	}
	dd.temperature::after {
		content: "°C";
		margin-left: 0.1667em;
	}
	
	.activation {
		color: orange;
	}
	dd.activation {
		cursor: pointer;
		font-weight: bold;
	}
	
	if($desktop) {
		dl {
			width: 250px;
		}
		dl.userInfo {
			left: 365px;
		}
		dl.planetInfo {
			left: 130px;
			width: 225px;
		}
	}
	if($mobile) {
		dl {
			width: 100%;
		}
		.userInfo {
			bottom: 0.25em;
		}
		
		dt {
			margin-right: 0.5em;
			width: 45%;
		}
		
		.shortNumber {
			display: none;
		}
		.longNumber {
			display: inline;
		}
	}
}