.newMessages {
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid $$main_single_border_outer;
	color: #BFC4FF;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 0.5em;
	text-align: center;
}