.overview .tutorial {
	background-color: #FFE272;
	border: 2px solid #BF9C30;
	color: #6B5B00;
	margin-bottom: 1em;
	padding: 0.375em;
	padding-bottom: 0.75em;
	position: relative;

	.welcome {
		color: black;
	}
	p.welcome {
		margin-bottom: 0.5em;
	}
	li {
		display: list-item;
		margin-left: 1.5em;
	}
	.close {
		color: inherit;
		font-size: 0.8em;
		position: absolute;
		right: 5px;
		text-decoration: none;
		top: 3px;
	}
}