.espionageReport {
	.resources .blockHeader {
		display: block;
		margin-top: 0;
	}
	.blockHeader {
		background-image: url("img/bg_content_td.png");
		clear: both;
		margin-top: 5px;
		width: 100%;
		
		.flags {
			&:not(:empty) {
				margin-left: 0.25em;
				
				&::before {
					content: "(";
				}
				&::after {
					content: ")";
				}
			}
			
			.flag {
				+ .flag {
					margin-left: 0.167em;
				}
				
				&.noob {
					color: #A0FFA0;
				}
				&.strong { 
					color: #FFA0A0;
				}
				&.inactive { 
					color: #CCCCCC;
				}
				&.longinactive { 
					color: #999999;
				}
				&.vacation { 
					color: skyblue;
				}
				&.banned {
					text-decoration: line-through;
				}
				&.admin {
					color: orange;
				}
			}
		}
		
		if($mobile) {
			.espionagePreamble,
			.planetPrefix {
				display: none;
			}
		}
	}
	.resources dd::after {
		content: none !important;
	}
	.specs.empty::after {
		font-style: italic;
		margin-left: 5px;
	}
	.buildings .specs.empty::after {
		content: "Auf dem Planeten wurden keine Gebäude vorgefunden.";
	}
	.fleet .specs.empty::after {
		content: "Auf dem Planeten wurden keine Schiffe vorgefunden.";
	}
	.defense .specs.empty::after {
		content: "Auf dem Planeten wurde keine Verteidigung vorgefunden.";
	}
	.technology .specs.empty::after {
		content: "Auf dem Planeten wurden keine Forschungen festgestellt.";
	}
	
	.resources dt,
	.resources dd,
	.specs dt,
	.specs dd {
		float: left;
	}
	if($desktop) {
		.specs dt { /* dt + dd = 317 px */
			padding-left: 5px;
			width: 195px;
		}
		.specs dd {
			padding-right: 40px;
			text-align: right;
			width: 77px;
		}
		.specs dt.shortName {
			display: none;
		}
		
		.resources {
			display: flex;
			flex-wrap: wrap;
		}
		
		.resources dt {
			flex-grow: 1;
			float: left;
			min-width: 7.5em;
			padding-left: 0.5em;
			
			&.energy_produced,
			&.energy_used {
				display: none;
			}
		}
		
		.resources dd {
			display: none;
			flex-grow: 1;
			float: left;
			margin-left: 0;
			min-width: 6.75em;
			padding-left: 0.25em;
			
			&.safe {
				display: block;
				text-align: left;
				
				&::before {
					content: "(+";
				}
				&::after {
					content: ")" !important;
				}
			}
			&.unsafe {
				display: block;
				text-align: right;
			}
			
			&.energy_produced,
			&.energy_used {
				display: block;
			}
			
			&.energy_used {
				text-align: right;
				
				&::after {
					content: "/" !important;
				}
			}
			&.energy_produced {
				min-width: 7em;
				padding-left: 0;
			}
		}
		
		.resources dt + dd:not(.unsafe):not(.energy):not(.energy_used):not(.energy_produced) {
			display: block;
			min-width: 6.5em;
			padding: 0 7em 0 0.5em;
			text-align: right;
		}
	}
	if($mobile) {
		.specs {
			@media screen and (orientation: portrait) {
				dt {
					width: 12%;
				}
				dd {
					width: 19%;
				}
			}
			@media screen and (orientation: landscape) {
				dt {
					width: 8%;
				}
				dd {
					width: 15%;
					
					&.number {
						.shortNumber {
							display: none;
						}
						.longNumber {
							display: inline;
						}
					}
				}
			}
			dt {
				margin-right: 2%;
				text-align: right;
				
				&.displayName {
					display: none;
				}
			}
		}
		
		.resources {
			@media screen and (orientation: portrait) {
				dt {
					clear: left;
					width: 6em;
				}
			}
			@media screen and (orientation: landscape) {
				dt {
					width: 14%;
				}
				dd {
					width: 16%;
					
					&.unsafe,
					&.energy_used {
						text-align: right;
					}
					
					&.number {
						.shortNumber {
							display: none;
						}
						.longNumber {
							display: inline;
						}
					}
				}
			}
			dt {
				display: block;
				float: left;
				margin-right: 3%;
				text-align: right;
				
				&::after {
					content: none;
				}
				
				&.energy_used,
				&.energy_produced {
					display: none;
				}
			}
			
			dd {
				display: none;
				float: left;
				
				&.safe {
					display: block;
					margin-left: 0.25em;
					
					&::before {
						content: "(+";
					}
					&::after {
						content: ")" !important;
					}
				}
				&.unsafe {
					display: block;
				}
				&.energy_used {
					display: block;
				}
				&.energy_produced {
					display: block;
				
					&::before {
						content: "/" !important;
						margin: auto 0.25em;
					}
				}
					
				.number {
					.shortNumber {
						display: none;
					}
					.longNumber {
						display: inline;
					}
				}
			}
		}
		
		.resources dt + dd:not(.unsafe):not(.energy):not(.energy_used):not(.energy_produced) {
			display: block;
			min-width: 6.5em;
			padding: 0 7em 0 0.5em;
			text-align: right;
		}
	}
	
	.espionageReportBlocks li::after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.espionageFightPossibility {
		font-size: 0.9em;
		margin-top: 0.33em;
		text-align: center;
	}
}