if($desktop) {
	.bottomNavContainer {
		background-color: #07070F;
		border-top: 0.1em solid #35353F;
		bottom: 0;
		padding: 0.2em 0;
		position: fixed;
		right: 0;
		width: 100%;
		z-index: 1;
	}
	.bottomNavAdditional {
		float: left;
		margin-left: 0.33em;
	}

	.bottomTime {
		.bottomTimeDescr {
			color: #bbbbbf;
		}
		
		.timeOffset {
			opacity: 0;
			transition: opacity 0.1s;
		}
		
		&:hover .timeOffset {
			opacity: 1;
		}
	}
}
if($mobile) {
	.bottomNavContainer {
		display: none;
	}
}