.chatLayer {
	.bottomBar {
		bottom: 1.6em;
		position: fixed;
		right: 2em;
		z-index: 80;
	}
	
	.chatContainer {
		$height = 25em;
		
		float: right;
		height: 1px; // anti margin collapse
		margin-right: 1em;
		position: relative;
		width: $width = 18em;
		
		&.chatToolContainer {
			width: 12em;
		}
		
		/* tool */
		.chatActions {
			background-color: rgba(#070710, 90%);
			border: 1px solid #35353F;
			bottom: 1.8em;
			box-sizing: border-box;
			position: absolute;
			width: 100%;
			
			li {
				cursor: pointer;
				padding: 0.4em 0.8em;
				
				&:hover {
					background-color: rgba(#171720, 90%);
				}
				
				&:not(:last-child) {
					border-bottom: 1px solid #45454F;
				}
			}
		}
		
		.chatButton {
			background-color: #15151F;
			border: 0.1em solid #35353F;
			border-radius: 0.2em 0.2em 0 0;
			bottom: 0;
			box-sizing: border-box;
			cursor: pointer;
			right: 0;
			padding: 0.35em 0.7em;
			position: absolute;
			white-space: nowrap;
			width: 100%;
			
			&:hover {
				color: white;
			}
			
			.chatButtonNotifier,
			.chatButtonText {
				float: left;
			}
			.chatButtonNotifier {
				border-style: solid;
				border-width: 0.1em;
				height: 0.9em;
				width: 0.5em;
			}
			.chatButtonText {
				margin-left: 0.5em;
			}
			
			p {
				font-size: 1.1em;
			}
		}
		
		/* chats */
		&.expanded {
			.chatWindow {
				width: $width * 1.62;
				
				.chatAside {
					display: block;
					width: $width * 0.62;
				}
			}
		}
		&.typeChannel:not(.chatConversationDisabled) {
			.chatConversationInfo {
				cursor: pointer;
			}
		}
		
		&.chatStateNothing .chatButtonNotifier {
			border-color: #777;
		}
		
		&.chatStateMisc .chatButtonNotifier {
			background-color: rgba(#777, 25%);
			border-color: #777;
		}
		
		&.chatStateMessage .chatButtonNotifier {
			background-color: #777;
			border-color: #777;
		}
		
		&.chatStateHighlight .chatButtonNotifier {
			background-color: #a00;
			border-color: #a00;
		}
		
		.chatWindow {
			border: 0.1em solid #35353F;
			bottom: 0;
			position: absolute;
			width: 100%;
			
			.chatHeader {
				background-color: #15151F;
				border-bottom: 0.1em solid #35353F;
				box-sizing: border-box;
				cursor: pointer;
				font-size: 1.1em;
				height: 1.7em;
				
				&:hover {
					color: white;
				}
				
				p {
					float: left;
					padding: 0.25em 0.5em;
				}
				
				.chatHeaderActions {
					float: right;
					
					li {
						color: #aab;
						float: right;
						height: 1.2em;
						margin: 0.25em 0.2em;
						width: 1.2em;
						
						&:hover {
							color: #dde;
						}
						
						span {
							display: none;
						}
					}
				
					.chatActionClose {
						&::before {
							content: "×";
							font-size: 2em;
							font-weight: bold;
						}
					}
				}
			}
			
			$bodyHeight = $height - 1.7em - 2 * 0.1em;
			
			.chatBody {
				background-color: rgba(#070710, 90%);
				float: left;
				height: $bodyHeight;
				position: relative;
				width: $width;
				
				$inputHeight = 1.2em + 2 * 0.25em + 0.1em;
				$infoHeight = 1.2em + 2 * 0.1em + 0.1em;
				
				.chatListing {
					box-sizing: border-box;
					height: $height - ($inputHeight + $infoHeight);
					overflow: auto;
					padding-bottom: 0.25em;
				}
				
				.chatConversationInfo {
					border-bottom: 0.1em solid #45454F;
					height: 1.2em;
					padding: 0.1em 0.25em;
					text-align: right;
				}
			
				.chatConversationInput {
					background-image: none;
					background-color: transparent;
					border: none;
					border-top: 0.1em solid #35353F;
					bottom: 0;
					box-sizing: border-box;
					color: #eef;
					font-family: "PT Sans",Tahoma,Helvetica,sans-serif;
					font-weight: normal;
					padding: 0.25em 0.5em;
					position: absolute;
					text-align: left;
					width: 100%;
				}
			}
			
			.chatUsers {
				> li {
					border-bottom: 1px solid #35353F;
					cursor: pointer;
					padding: 0.1em 0 0.15em;
					
					.prefix {
						display: inline-block;
						text-align: right;
						width: 1.2em;
					}
					
					.nickname {
						display: inline;
					}
				}
				
				ul.chatUserActions li {
					padding-left: 1.35em;
					
					&::before {
						content: " - ";
					}
				}
			}
			
			.chatAside {
				background-color: rgba(#090913, 90%);
				border-left: 0.1em solid #45454F;
				box-sizing: border-box;
				display: none;
				float: left;
				height: $bodyHeight;
				width: 0.62 * $width;
			}
		}
	}
	
	
	.chatListing {
		.chatEntry {
			.chatEntryHeader {
				color: #777;
				font-size: 0.8em;
				padding-left: 0.5em;
				text-indent: -0.25em;
				
				span.time {
					&::before {
						content: " (";
					}
					&::after {
						content: ")";
					}
				}
			}
			.chatEntryBody {
				font-size: 0.9em;
				margin-top: -0.2em;
				padding: 0 0.25em;
				word-break: break-word;
				
				.selfAction {
					font-style: italic;
				}
			}
		}
		
		.chatMessage {
			&.ownMessage .chatEntryHeader {
				border-left: 2px solid #777;
			}
			
			&.chatHighlight .chatEntryBody {
				border-left: 2px solid #E00;
			}
			&.chatPrivateNotice {
				color: #dda;
				
				.chatEntryBody {
					font-style: italic;
				}
			}
			&.chatConsecutive:not(:first-child) {
				margin-top: 0.1em;
				
				.chatEntryHeader {
					display: none;
				}
			}
			
			.chatEntryHeader {
				color: #999;
			}
			
			.chatEntryHeader,
			.chatEntryBody {
				border-left: 2px solid transparent;
			}
		}
	}
}