header {
	background-image: url("img/bg_header_bottom.png"), url("img/header_bg.png");
	background-position: bottom, 0 0;
	background-repeat: no-repeat, repeat-x;
	background-size: 100% 1px, contain;
	color: white;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 25;
	
	if($desktop) {
		height: 62px;
	}
	if($mobile) {
		font-size: 1.1em;
		height: 2.5em;
		position: fixed;
	}
	
	if($desktop) {
		dt.metal {
			color: #ADAEAD;
		}
		dt.crystal {
			color: #EF51EF;
		}
		dt.deuterium {
			color: #F77542;
		}
		dt.energy {
			color: #9C71C6;
		}
	}
	if($mobile) {
		dd.metal {
			color: #ADAEAD;
		}
		dd.crystal {
			color: #EF51EF;
		}
		dd.deuterium {
			color: #F77542;
		}
		dd.energy {
			color: #9C71C6;
		}
	}
}

if($desktop) {
	.headerLogo {
		background-image: url("img/logo_text.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 2.5em;
		cursor: pointer;
		height: 62px;
		left: 50%;
		margin-left: -34em;
		position: absolute;
		width: 10em;
	}
}

.headerContent {
	font-family: Verdana, Arial;
	position: absolute;
	
	if($desktop) {
		left: 50%;
		margin-left: -23em;
		width: 46em;
	}
	if($mobile) {
		left: 0;
		margin-left: 0;
		width: 100%;
	}
	
	.energy.used,
	.energy.produced {
		display: none;
	}

	.energy.mixed.positive::before {
		content: "+";
	}
	
	if($desktop) {
		.currentPlanetResources {
			height: 62px;
			left: 50%;
			margin-left: -14em;
			position: absolute;
			width: 28em;
		}
	
		.metal {
			left: 0px;
		}
		.crystal {
			left: 100px;
		}
		.deuterium {
			left: 200px;
		}
		.energy {
			left: 300px;
		}

		dt,
		dd {
			font-size: 0.8em;
			position: absolute;
			text-align: center;
			width: 100px;
		}
		dt {
			background-position: center 2px;
			background-repeat: no-repeat;
			font-family: Verdana, Arial;
			font-size: 0.8em;
			font-weight: bold;
			padding-top: 26px;
		}
		dd {
			top: 44px;
		}
		
		dt.metal {
			background-image: url("img/metal.png");
		}
		dt.crystal {
			background-image: url("img/crystal.png");
		}
		dt.deuterium {
			background-image: url("img/deuterium.png");
		}
		dt.energy {
			background-image: url("img/energy.png");
		}
	}
	if($mobile) {
		.mobileNavigationButton,
		.mobilePlanetsListButton {
			background-color: rgba(white, 15%);
			height: 2.5em;
			position: absolute;
			top: 0;
			width: 2.5em;
		}
		.mobileNavigationButton {
			background-image: url("img/icon-menu.svg");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 60% 60%;
			
			left: 0;
		}
		.mobilePlanetsListButton {
			background-image: url("img/planetIcon.png");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 70% 70%;
			
			right: 0;
			
			&.fleetstart {
				background-color: rgba(lighten(chartreuse, 70%), 25%);
			}
		}
		
		.planetImage {
			display: none;
		}
		.planetInfo {
			left: 2.625em;
			padding-left: 0.4em;
			position: absolute;
			top: 0.125em;
		}
		.planetInfo .coords {
			color: white;
			font-weight: normal;
		}
		
		.currentPlanetResources {
			height: auto;
			left: 2.625em;
			margin-left: 0;
			top: 1.375em;
			position: absolute;
			width: auto;
		}
		
		dt {
			display: none;
		}
		
		dd {
			float: left;
			font-size: 0.9em;
			margin-left: 0.5em;
			position: static;
			top: 1.5em;
			width: auto;
		}
		
		
		@media screen and (orientation: landscape) {
			.planetImage {
				display: block !important;
				height: 2.25em;
				left: 2.625em;
				position: absolute;
				top: 0.125em;
				width: 2.25em;
				
				img {
					height: 100%;
					width: 100%;
				}
			}
			.planetInfo,
			.currentPlanetResources {
				left: 4.875em !important;
			}
			
			.currentPlanetResources {
				.number .longNumber {
					display: inline;
				}
				.number .shortNumber {
					display: none;
				}
			}
		}
	}
}

.currentPlanetResources {
	display: none;
}

// disabled for banned users
body.active .currentPlanetResources {
	display: block;
}
