.mainWrapper {
	bottom: 0;
	position: absolute;
	width: 100%;
	
	if($desktop) {
		bottom: 1.6em;
		overflow-x: hidden;
		overflow-y: scroll;
		top: 62px;
	}
	if($mobile) {
		bottom: 0;
		top: 2.5em * 1.1;
	}
}

#main {
	if($desktop) {
		left: 50%;
		margin-left: -23em;
		padding: 10px 0;
		position: absolute;
		transition: 0.2s ease-in-out;
		transition-property: left, margin-left, right, width;
		width: 46em;
	}
	if($mobile) {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 0.75em 2%;
		width: 100%;
		
		margin-bottom: 2em;
	}
}
body.wide #main {
	if($desktop) {
		left: 11em;
		margin-left: 0;
		right: 13.5em;
		width: auto;
	}
}

if($mobile) {
	.mainContainer {
		background-image: url("img/stars.jpg"); //?
		height: 100vh; //?
		z-index: 10; //?
	}
}
