if($mobile) {
	.mobileBackLayer {
		box-shadow: 0 0 1.25em rgba(black, 0.9);
		bottom: 0;
		display: none;
		height: 100%;
		position: fixed;
		top: 0;
		width: 20%;
		z-index: 500;
	}

	body.planetsListActive {
		header {
			left: -80%; // right: 80% does not work, whyever.
		}
		
		.mainContainer {
			right: 80%;
			position: relative;
		}
		
		.planetsList {
			display: block;
			z-index: 400;
		}
		
		.mobileBackLayer {
			display: block;
			left: 0;
			right: 80%;
		}
	}

	iframe {
		display: none;
	}

	body.navActive {
		header {
			left: 80%;
		}
		
		.mainContainer {
			left: 80%;
			position: relative;
		}
		
		iframe {
			display: block;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 80%;
		}
		
		.mobileBackLayer {
			display: block;
			left: 80%;
			right: 0;
		}
	}
	&.navFrame {
		nav {
			display: block;
			margin-left: 0;
			position: static;
			width: 100%;
		}
	}
}