if($desktop) {
	nav.mainNav {
		height: 80%;
		left: 50%;
		margin-left: -34em;
		position: fixed;
		transition: 0.2s ease-in-out;
		transition-property: left, margin-left;
		top: 72px;
		width: 10em;
		z-index: 10;
	}
	
	body.wide nav.mainNav {
		left: 0.5em;
		margin-left: 0;
	}
	
	nav.mainNav {
		ul {
			border-bottom: 1px solid $$nav_border_outer;
		}
		
		li {
			background-position: 0.5em center;
			background-repeat: no-repeat;
			background-size: 1em;
			font-size: 1.025em;
			height: 1.2em;
			padding: 0.2em 0 0.2em 1em;
			text-align: center;
			
			&:first-child {
				border-top: 1px solid $$nav_border_outer;
			}
			
			&.disabled {
				display: none;
			}
			
			&:not(.disabled) {
				background-color: rgba(0, 0, 0, 0.42);
				border-left: 1px solid $$nav_border_outer;
				border-right: 1px solid $$nav_border_outer;
				
				&:hover {
					background-color: rgba(255, 255, 255, 0.15);
					cursor: pointer;
				}
			}
			
			icon($name) {
				background-image url("icon/" $name "-60.png");
				
				&.active,
				&:hover {
					background-image: url("icon/" + $name + "-20.png");
				}
			}
			
			&#overview {
				icon("overview")
			}
			
			&#messages {
				icon("messages")
			}
			
			&#galaxy {
				icon("galaxy")
			}
			
			&#buildings {
				icon("buildings")
			}
			
			&#techs {
				icon("techs")
			}
			
			&#hangar {
				icon("hangar")
			}
			
			&#fleet {
				icon("fleet")
			}
			
			&#economy {
				icon("economy")
			}
			
			&#galacticjump {
				icon("galacticjump")
			}
			
			&#stats {
				icon("stats")
			}
			
			&#ally {
				icon("ally")
			}
			
			&#buddys {
				icon("buddys")
			}
			
			&#empire {
				icon("empire")
			}
		}
	}
	
	nav.bottomNav {
		ul {
			float: right;
			width: 70%;
		}
		
		li {
			color: #aab;
			cursor: pointer;
			float: right;
			margin-right: 0.25em;
			
			&:hover {
				color: #ccd;
			}
			
			&:not(.disabled) + li::after {
				content: "  -  ";
				color: #aab;
				cursor: default;
				font-weight: bold;
			}
				
			&.active {
				font-weight: bold;
			}
			
			&.disabled {
				display: none;
			}
		}
	}
}
if($mobile) {
	nav:not(.mobile) {
		display: none;
	}
	
	nav.mobile {
		background-color: #222;
		color: #aaa;
		font-size: 1.5em;
		height: 100%;
		left: 0;
		margin-left: 0;
		overflow: hidden;
		position: absolute;
		right: 20%;
		top: 0;
		width: 80%;
		z-index: -5;
		
		ul {
			width: 100%;
			
			li {
				background-color: #333;
				border-bottom: 1px solid rgba(white, 0.1);
				clear: both;
				margin: 0;
				padding: 0.75em 0;
				text-align: center;
				vertical-align: middle;
				width: 100%;
			}
		}
	}
	
	body.navActive nav.mobile {
		z-index: 5;
	}
}