$orange = orange;
//$lightOrange = lighten($orange, 20%);
$lightOrange = $orange;

if($desktop) {
	.userPlanets {
		border: 1px solid red if $$dev;
		margin-right: -35.5em;
		position: absolute;
		right: 50%;
		top: 72px;
		transition: 0.2s ease-in-out;
		transition-property: margin-right, right;
		width: 12.5em;
	}
	
	body.wide .userPlanets {
		margin-right: 0;
		right: 1.5em;
	}
	
	.userPlanets {
		li {
			border: 1px transparent dashed;
			cursor: pointer;
			height: 80px;
			text-align: center;
			transition: background-color 0.05s, border 0.05s;
			
			&.current {
				background-color: rgba($orange, 10%);
				border: 1px orange dashed;
				font-weight: bold;
				transition: background-color 0.2s, border 0.2s;
			}
			&.currentParent {
				background-image: linear-gradient(-45deg,
						rgba(orange, 20%), rgba(orange, 20%) 25%,
						transparent 25%, transparent 50%,
						rgba(orange, 20%) 50%, rgba(orange, 20%) 75%,
						transparent 75%, transparent);
				background-size: 20px 20px;
				border: 1px orange dashed;
				font-style: italic;
				font-weight: bold;
				transition: background-color 0.2s, border 0.2s;
			}
			&.targetChoosable:hover {
				border: 1px chartreuse dashed !important;
				background-color: rgba(chartreuse, 0.1) !important;
				box-shadow: rgba(chartreuse, 80%) 0 0 10px !important;
			}
		}
		
		&:hover li.current {
			background-color: rgba($orange, 8%);
			border: 1px rgba(orange, 50%) dashed;
		}
		
		.coords {
			color: inherit;
			cursor: inherit;
			font-weight: inherit;
		}

		li img {
			height: 60px;
			width: 60px;
		}
		
		li p {
			width: 100%;
		}
		
		.userPlanet + .userPlanet {
			margin-top: 5px;
		}
		#userPlanetsList:not(.sortable) li:hover {
			background-color: rgba($orange, 10%);
			border: 1px $lightOrange dashed;
			box-shadow: rgba($orange, 80%) 0 0 10px;
		}
		#userPlanetsList.sortable li {
			cursor: move;
			
			&:not(.sortable-placeholder):hover {
				background-color: rgba(blue, 0.1);
				border: 1px blue dashed !important;
				box-shadow: rgba(blue, 80%) 0 0 10px;
			}
			&.sortable-placeholder {
				background-color: rgba(white, 0.2);
				border: 1px darkgrey dashed;
				box-shadow: rgba(darkgrey, 80%) 0 0 10px;
			}
			&.sortable-dragging {
				background-color: black !important;
				box-shadow: rgba(yellow, 80%) 0 0 10px;
			}
		}
		
		#userPlanetsList.editable {
			li {
				&.edit,
				&:hover {
					background-color: rgba(red, 10%) !important;
					border: 1px red dashed !important;
					box-shadow: rgba(red, 80%) 0 0 10px;
				}
			}
		}
		.moon {
			height: 0px;
		}
		.moon p {
			display: none;
		}
		.moon img {
			border-radius: 15px;
			bottom: 79px;
			display: block;
			left: 89px;
			height: 30px;
			position: relative;
			width: 30px;
		}
	}
	body.wide .userPlanets {
	
	}
	

	smallPlanetsList() {
		li {
			height: 60px;
		}
		li p {
			background-color: rgba(black, 50%);
			bottom: 20px;
			position: relative;
		}
		.moon img {
			bottom: 59px;
		}
	}

	/* 72 px header, ca. 23px bottom, ca. 5px buffer */
	/* 82px first planet, 87px other planets */
	@media screen and (max-height: 878px) {
		#userPlanetsList.planetCount9 {
			smallPlanetsList();
		}
	}

	@media screen and (max-height: 791px) {
		#userPlanetsList.planetCount8 {
			smallPlanetsList();
		}
	}

	@media screen and (max-height: 704px) {
		#userPlanetsList.planetCount7 {
			smallPlanetsList();
		}
	}

	@media screen and (max-height: 617px) {
		#userPlanetsList.planetCount6 {
			smallPlanetsList();
		}
	}

	@media screen and (max-height: 530px) {
		#userPlanetsList.planetCount5 {
			smallPlanetsList();
		}
	}
}

/* mobile */
if($mobile) {
	.userPlanets {
		display: none;
	}
	
	.planetsList {
		clearfix();
		
		background-color: #222;
		bottom: 0;
		display: none;
		left: 20%;
		right: 0;
		top: 0;
		position: fixed;
		z-index: 5;
		
		li {
			clearfix()
			
			background-color: #333;
			border-bottom: 1px solid rgba(white, 0.1);
			clear: both;
			height: 10%;
			margin: 0;
			position: relative;
			
			&.current {
				font-weight: bold;
			}
				
			img, p {
				float: left;
			}
			img {
				height: 100%;
			}
			p {
				color: #aaa;
				margin-left: 0.25em;
				margin-top: 0.25em;
				width: 70%;
			}
			
			.coords {
				// break into new line
				@media screen and (orientation: portrait) {
					display: block;
				}
			}
			
			.moon {
				font-weight: normal;
				margin-left: 1em;
				margin-top: 0;
				width: 60%;
				
				&.current {
					font-weight: bold;
				}
				
				img {
					height: 80%;
					position: absolute;
					right: 2%;
					top: 10%;
				}
				
				p {
					display: none;
				}
			}
		}
		
		&.fleetstart li {
			background-color: mix(#333, chartreuse, 95%);
			
			p {
				color: lighten(chartreuse, 80%);
			}
		}
	}
}