body {
	background-image: url("img/stars.jpg");
	color: #eef;
	font-family: "PT Sans", Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	height: 100% !important;
	line-height: 1.2em;
	margin: 0 !important;
	overflow-x: hidden;
	padding: 0 !important;
	width: 100% !important;
	
	overflow-y: hidden if $desktop;
	
	overflow-y: scroll if $mobile;
}

*::selection {
	background: white;
	color: black;
}
*::-moz-selection {
	background: white;
	color: black;
}