.build.spec {
	/* general */
	clearfix();
	background-color: $$main_background;
	border: 0.1em solid $$main_multiple_border_outer;
	clear: both;
	
	if($desktop) {
		box-sizing: border-box;
		height: 7.2em;
		width: 46em;
	}
	if($mobile) {
		height: auto;
	}
	
	&:not(:first-child) {
		margin-top: 0.33em;
	}
	
	/* image */
	img,
	p.img {
		display: none if $mobile;
		float: left;
		height: 7em;
		width: 7em;
	}
	
	/* desc (general) */
	.specDesc {
		float: left;
		
		if($desktop) {
			margin-left: 0.4em;
			width: 29.4em;
		}
		if($mobile) {
			margin-left: 0.25em;
			width: 100%;
		}
	}
	.specDesc > dt,
	.specDesc > dd {
		float: left;
	}

	/* name */
	.specDesc dt.name {
		display: none;
	}
	.specDesc dd.name {
		font-weight: bold;
	}
	.specDesc .shortName {
		display: none;
	}

	/* level */
	.specDesc dt.level::before {
		content: "(";
		margin-left: 0.25em;
	}
	.specDesc dt.level::after {
		content: ":";
	}
	.specDesc dd.level {
		margin-left: 0.25em;
	}
	&.plusLevel0 .specDesc dd.level::after {
		content: ")";
	}
	.specDesc dt.plusLevel {
		display: none;
	}
	
	.specDesc dd.plusLevel::after {
		content: ")";
	}
	&.plusLevel0 .specDesc .plusLevel {
		display: none;
	}
	&.plusLevel0.level0 .specDesc .level {
		display: none;
	}

	/* costs */
	.specDesc dt.costs {
		clear: left;
		font-style: italic;
	}
	.specDesc dt.costs::after {
		content: ":";
	}
	.specDesc dd.costs {
		margin-left: 0.25em;
	}
	.specDesc .costs .buildable {
		color: lime;
	}
	.specDesc .costs .notBuildable {
		color: red;
	}

	/* text */
	.specDesc dt.text {
		display: none;
	}
	.specDesc dd.text {
		margin-top: 0.25em;
	}

	/* time */
	.specDesc .time {
		display: none
	}
	
	/* buttons/input */
	if($desktop) {
		.build-actions {
			margin-left: 37em;
		}
		
		button {
			margin: 0.5em;
			//padding: 1em (general/button)
			width: 7em;
		}
	}
}