//@import "buildspec"

.constructionQueue {
	&.noJobs {
		display: none;
	}
	
	if($desktop) {
		h3 {
			display: none;
		}
	}
}

// jobs themself (extending .build.spec)
.constructionQueueJob {
	border: 1px solid $$main_single_border_outer !important;
	border-top: $desktop ? none !important : 1px solid #aaa !important;
	display: none;
	margin-top: 0 !important;
	
	.specDesc {
		.name,
		.level {
			margin-top: 4px;
		}
		dd.level::after { /* specs */
			content: ")";
		}
		.text {
			display: none
		}

		dt.end {
			clear: left;
			font-style: italic;
		}
		dt.end::after {
			content: ":";
			margin-right: 0.25em;
		}
	}
}

// bar & barjobs
.constructionQueueBar {
	height: 20px if $desktop;
	height: auto if $mobile;
	
	&.noJobs {
		display: none;
	}
}
.constructionQueueBarJob {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	height: 20px;
	padding-top: 1px;
	text-align: center;
	z-index: 5;
	
	if($desktop) {
		background-color: $$main_background;
		border: 1px solid $$main_single_border_outer;
		border-right: none;
		position: absolute;
		
		&:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
		
		&.active {
			border: 1px solid $$main_single_border_outer;
			border-bottom: 1px solid $$main_single_border_inner;
		}
	}
	if($mobile) {
		border: none !important;
		padding-left: 0;
		position: static;
		width: auto !important; /* element-level width is being set by js, overriding this */
		
		p {
			text-align: left;
		}
	}
	
	&.active + & {
		border-left: none;
		padding-left: 1px;
	}
	
	&:last-child:not(.active) {
		border-right: 1px solid $$main_single_border_outer;
	}
	
	.constructionQueueBarJobTextTime {
		display: $desktop ? none : inline;
		
		&::before {
			content: "(";
			margin-left: 0.25em;
		}
		&::after {
			content: ")";
		}
	}
	
}

.boxVisible .constructionQueueBarJob:not(.active) {
	border-bottom: 1px solid $$main_single_border_outer;
}

.constructionQueue .done, .constructionQueue .todo {
	height: 18px;
	margin: 1px 0 0 1px;
	position: absolute;
	text-align: center;
}
.constructionQueue .done {
	background-image: linear-gradient(bottom, #306F30, #306F30);
	background-image: -o-linear-gradient(bottom, #306F30, #306F30);
	background-image: -moz-linear-gradient(bottom, #306F30, #306F30);
	background-image: -webkit-linear-gradient(bottom, #306F30, #306F30);
	background-image: -ms-linear-gradient(bottom, #306F30, #306F30);
	z-index: 3
}
.constructionQueue .todo {
	background-color: rgba(#306F30, 0.15);
	z-index: 2;
}

if($mobile) {
	.constructionQueueBarProgress {
		display: none;
	}
}