.ovents:not(:empty) {
	clearfix();

	background-color: $$main_background;
	border: 1px solid $$main_single_border_outer;
	margin-bottom: 1em;
}
.ovent {
	clear: left;
	min-height: 3em;
	max-height: 4.5em;
	
	&.hidden {
		display: none;
	}
	& + &:not(.hidden) {
		/* produces double border for: (first =:) .hidden + :not(.hidden) */
		/* though this seems unlikely enough */
		border-top: 1px solid $$main_single_border_inner;
	}
	> dl > dt {
		display: none;
	}
	dl,
	p {
		float: left;
	}
	dl {
		clear: left;
		width: 80px;
		
		if($desktop) {
			width: 80px;
		}
		if($mobile) {
			width: 25%;
		}
	}
	
	.text {
		if($mobile) {
			width: 72.5%;
			word-wrap: break-word;
		}
	}
	
	p {
		border-left: 1px solid $$main_single_border_inner;
		min-height: 3em;
		padding: 1px 3px;
		width: 39em;
	}
	.timeAbsolute,
	.timeRelative {
		line-height: 1.05em;
		min-height: 1.3em;
		text-align: center;
	}
	.timeRelative {
		padding-top: 1px;
	}
	.timeAbsolute {
		color: limegreen;
		font-size: 0.95em;
		min-height: 1.5em;
		vertical-align: bottom;
	}
	&::after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.tooltipActivator {
		color: #BFC4FF;
		font-weight: bold;
	}
}

ul.oventFleetSpecs {
	display: inline;
	
	li {
		display: inline;
	}
	li:not(:last-child)::after {
		content: ", ";
	}
}

.impact.own.deploy {
	color: #99FF00;
}
.impact.own.transport {
	color: #00FF99;
}
.impact.own.espionage {
	color: #FF6600;
}
.impact.own.harvest {
	color: #FFFF00;
}
.impact.own.colonize {
	color: #0033FF;
}
.impact.own.nfsattack {
	color: #00FF00;
}
.impact.own.attack {
	color: #66CCFF;
}
.impact.own.missileAttack {
	color: #CC9900;
}
.impact.own.destroy {
	color: #009900;
}
.impact.own.standby {
	color: #9933CC;
}
.impact.foreign.transport {
	color: #009900;
}
.impact.foreign.attack {
	color: #FF0000;
}
.impact.foreign.espionage {
	color: #FF0000;
}
.impact.foreign.missileAttack {
	color: #FF0000;
}
.impact.foreign.destroy {
	color: #FF0000;
}
.impact.foreign.nfsattack {
	color: #FF0000;
}
.wakeup.own.standby {
	color: #9933CC;
}
.wakeup.foreign.standby {
	color: #9933CC;
}
.return.own.deploy {
	color: #4D573D;
}
.return.own.transport {
	color: #3D574D;
}
.return.own.attack {
	color: #475257;
}
.return.own.espionage {
	color: #57473D;
}
.return.own.harvest {
	color: #57573D;
}
.return.own.colonize {
	color: #3D4257;
}
.return.own.destroy {
	color: #3D4D3D;
}
.return.own.nfsattack {
	color: #3D573D;
}
.return.own.standby {
	color: #4D4252;
}
.ovent.building .text {
	color: sienna;
}