.fleetstartBriefing {
	background-color: $$main_background;
	border: 1px solid $$main_single_border_outer;
	box-sizing: border-box;
	clear: left;
	float: left;
	margin-top: 20px;
	width: 100%;
	
	dt,
	dd {
		display: block;
		float: left;
		margin-top: 0.25em;
	}
	
	dt {
		clear: left;
		margin-right: 0.25em;
		text-align: right;
		width: 10em;
	}
	dd {
		text-align: center;
		width: 8em;
	}
	dt.fleetstartOneTimeAbs,
	dt.fleetstartTwoTimeAbs,
	dt.fleetstartCooldownTimeAbs {
		margin-top: 0;
		visibility: hidden;
	}
	dd.fleetstartOneTimeAbs,
	dd.fleetstartTwoTimeAbs,
	dd.fleetstartCooldownTimeAbs {
		margin-top: 0;
		color: limegreen;
	}
}

.fleetstartFire {
	if($desktop) {
		padding-left: 1.5em;
	}
	if($mobile) {
		padding-left: 0;
	}
	
	button {
		if($mobile) {
			clear: left;
			display: block;
			font-size: 1.2em;
			padding: 1em 1em 0.5em;
			text-align: center;
			width: 100%;
		}
	}
	#fleetstartSlotInfo {
		if($desktop) {
			display: inline;
			margin-left: 1em;
		}
		if($mobile) {
			clear: left;
			display: block;
			margin-bottom: 0.75em;
			text-align: center;
			width: 100%;
		}
	}
}
#fleetstartErrors {
	color: #AAA;
	
	&.success {
		color: limegreen;
		font-weight: bold;
		margin-top: 0.5em;
	}
	li {
		if($desktop) {
			margin-left: 16.75em;
		}
		if($mobile) {
			margin-left: 0.25em;
		}
	}
}