.fleetstartInput > * {
	background-color: $$main_background;
	border: 1px solid $$main_single_border_outer;
	float: left;
}

@import "input/specs"
@import "input/resources"
@import "input/coords"
@import "input/mission"
