.fleet.spec {
	height: 26px;
	
	&.level0 {
		color: #aaa;
	}
	
	p.img {
		display: none;
	}
	
	dt.name,
	dt.shortName,
	dt.level,
	.costs,
	.text,
	.time {
		display: none;
	}

	input {
		float: left;
	}
	input::-moz-input-placeholder,
	input::-webkit-input-placeholder {
		color: #999;
	}

	dd.level {
		cursor: pointer;
		float: right;
		width: 80px;
	}
	dd.level::before {
		content: "(";
	}
	dd.level::after {
		content: ")";
	}
	
	if($desktop) {
		dd.name {
			float: left;
			padding-right: 6px;
			text-align: right;
			width: 152px;
		}
		dd.shortName {
			display: none; 
		}
		dd.level {
			width: 80px;
		}
		
		input {
			margin-right: 6px;
			width: 90px;
		}
	}
	if($mobile) {
		dd.shortName {
			display: block;
			float: left;
			padding-right: 2.5%;
			text-align: right;
			width: 27.5%;
		}
		dd.name {
			display: none;
		}
		dd.level {
			width: 30%;
		}
		
		input {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			margin-right: 2.5%;
			width: 37.5%;
		}
	}
}
.fleetstartSpecs.showAvailable .fleet.spec.level0:not(.sent) {
	display: none;
}