.activationContainer {
	background-color: none;
	background-image: url("img/stars.jpg");
	
	h4 {
		margin: 1em 0 0.33em;
		text-align: center;
		
		&::before,
		&::after {
			content: " – ";
		}
	}
	
	p {
		margin-left: 1em;
		margin-right: 1em;
	}
}