//@import "shared/memberstable";

table.allyMembers {
	membersTable();
	
	td.kick,
	td.promote {
		color: #BFC4FF;
		cursor: pointer;
		font-weight: bold;
	}
}

.allyMembers ol {
	counter-reset: perm-counter;
	margin-top: 1em;
	
	li {
		&::before {
			counter-increment: perm-counter;
			content: "(" counter(perm-counter) ") ";
			font-weight: bold;
		}
	}
}