//@import "shared/buildspec"
//@import "shared/construction"

:not(.noJobs) + .buildingsList {
	margin-top: 10px; // same as margin top topnav
}

.buildings .build.spec {
	&.plusLevel1 .specDesc dd.plusLevel::before,
	&.plusLevel2 .specDesc dd.plusLevel::before,
	&.plusLevel3 .specDesc dd.plusLevel::before,
	&.plusLevel4 .specDesc dd.plusLevel::before,
	&.plusLevel5 .specDesc dd.plusLevel::before {
		content: "+";
	}
}

if($desktop) {
	/* teardown-button */
	.buildings .build.spec {
		button.build {
			position: relative;
			z-index: 2;
		}
		button.tearDown {
			margin-top: -0.5em;
			top: -2.375em;
			transition: top 0.2s ease-in-out;
			-webkit-transition: top 0.2s ease-in-out;
			padding-bottom: 0.125em;
			padding-top: 0.75em;
			position: relative;
			z-index: 1;
			
			p {
				opacity: 0;
				transition: opacity 0.2s ease-in-out;
				-webkit-transition: opacity 0.2s ease-in-out;
			}
			
			&:not(.disabled):hover {
				top: -0.75em;
				
				p {
					opacity: 1;
				}
			}
		}
		&.level0 button.tearDown {
			display: none;
		}
	}
	
	/* refinery config */
	.buildings .build.spec .config {
		color: #667;
		cursor: pointer;
		position: relative;
		text-align: center;
		top: -2.375em;
		
		&:hover {
			color: #99a;
		}
	}
}