.combatSimulator {
	.fleetInput,
	.helperInput,
	.submitArea,
	.resultArea {
		float: left;
		width: 23em;
	}
	
	.fleetInput,
	.helperInput {
		table {
			border-collapse: separate;
			border-spacing: 0 0.33em;
			width: 23em;
		}
		
		thead {
			th.specName {
				text-align: right;
				padding-right: 0.5em;
			}
		}
		
		tbody {
			th {
				font-weight: normal;
				padding-right: 0.5em;
				text-align: right;
				width: 10.5em;
			}
			
			td {
				width: 6em;
			}
			
			input {
				width: 5em;
			}
		}
	}
	
	.submitArea {
		margin-top: 0.75em;
		text-align: center;
	}
	
	.resultArea {
		.result > dt,
		.result > dd {
			text-align: center;
			width: 23em;
		}
		.result > dt {
			font-weight: bold;
			margin: 0.75em 0 0.25em;
		}
		.result > dd {
			dt, dd {
				display: inline;
			}
			
			&.debris,
			&.unitsAttacker,
			&.unitsDefender,
			&.booty {
				dt {
					display: none;
				}
				dd + dt + dd::before {
					content: " / ";
				}
			}
			
			&.endings {
				dt {
					display: inline;
					
					&::after {
						content: ":";
						margin-right: 0.2em;
					}
				}
				
				dd + dt {
					margin-left: 0.4em;
				}
			}
		}
	}
}