.debugTable {
	dt {
		font-weight: bold;
		margin-top: 5px;
	}
	dd {
		margin-left: 5px;
	}
	
	ul {
		list-style-type: disc;
		list-style-position: inside; 
		
		li {
			display: list-item;
		}
	}
	
	ul.requests {
		.time::before {
			content: "[";
		}
		.ping::before {
			content: "+";
		}
		.statusCode::before {
			content: "=>";
		}
		.method::before {
			content: "] ";
		}
		.url::before {
			content: " ";
		}
	}
	
	ul.debugErrors .time {
		&::before {
			content: "[";
		}
		
		&::after {
			content: "] ";
		}
	}
	
	dd.classes ul {
		padding-left: 1em;
	}
}