.main.dilizium {
	.diliziumReturn {
		background-color: $$main_background;
		border: 1px solid $$main_single_border_outer;
		color: gold;
		margin-bottom: 1em;
		padding: 0.3em;
	}
	
	.currentDiliziumValueContainer {
		background-color: $$main_background;
		border: 1px solid $$main_single_border_outer;
		font-size: 1.1em;
		padding: 0.5em;
		text-align: center;
		
		.diliziumValue {
			color: gold;
			font-size: 1.1em;
			font-weight: bold;
		}
	}
	
	.getDilizium {
		link();
		
		margin-top: 0.5em;
	}
	
	.paymentOptions {
		background-color: $$main_background;
		border: 1px solid $$main_single_border_outer;
		display: flex;
		margin-top: 1em;
		
		.paymentOption {
			flex-grow: 1;
			line-height: 1.2em;
			text-align: center;
			
			&:not(:first-child) {
				border-left: 1px solid $$main_single_border_inner;
			}
			
			&.review {
				background-color: #AAA;
				color: black;
				
				.payment {
					display: none;
				}
			}
			
			.frequency,
			.price {
				display: inline;
			}
			.price {
				margin-left: 0.4em;
			}
			
			.unit,
			.currency {
				margin-left: 0.2em;
			}
			
			.payment,
			p.doCheckout {
				margin: 0.2em;
			}
			
			.payment img {
				cursor: pointer;
			}
		}
	}
	
	.diliziumUsage {
		coloredTable();
		
		margin-top: 1em;
		width: 100%;
		
		td {
			padding: 0.2em;
			text-align: center;
		}
		
		.diliziumFeaturesSum {
			font-weight: bold;
			
			.critical {
				color: red;
			}
		}
	}
	
	.diliziumFeature {
		background-color: $$main_background;
		border: 1px solid $$main_single_border_outer;
		box-sizing: border-box;
		float: left;
		margin-top: 1em;
		padding: 0.3em;
		width: 49%;
		
		&:nth-child(even) {
			margin-left: 2%;
		}
		&:nth-child(odd) {
			clear: left;
		}
		
		h4 {
			text-align: center;
		}
		
		img {
			width: 100%;
		}
	}
}