.empire {
	&.main {
		overflow-x: auto;
	}
	
	table {
		margin: 7em 0.5em 0;
		
		&:not(.displayModeMoons) tr.usermoon {
			td.image {
				visibility: hidden;
			}
			td.name {
				border-left: 1px solid grey;
			}
			
			img {
				height: 1.5em;
				width: 1.5em;
			}
		}
	}
	
	tr:not(:first-child) {
		background-color: $$main_background;
	}
	
	tr.currentPlanet {
		td.name,
		td.name .planetLink{
			font-weight: bold;
		}
	}
	
	tr:nth-last-child(2) {
		td {
			border-bottom-color: #ccc;
		}
	}
	
	tr.foot {
		th {
			border: 1px solid grey;
			color: #ccc;
			font-weight: normal;
			height: 2.5em;
			
			&.sumDesc {
				border-right: none;
			}
			&.resource {
				border-left: none;
				border-right: none;
			}
		}
	}
	
	td,
	th {
		vertical-align: middle;
		white-space: nowrap;
	}
	tr:first-child th {
		transform: translate(1.9em, 0) rotate(315deg);
		transform-origin: left bottom;
		max-width: 2em;
		
		span {
			border-bottom: 1px solid grey;
		}
	}
	tr:first-child th:not(.spec) {
		visibility: hidden;
	}
	tr:nth-child(2) th {
		border: 1px solid grey;
	}
	
	.displayModes {
		li {
			display: inline;
			
			&:not(.active) {
				a {
					font-weight: normal;
				}
			}
			
			&:not(:first-child)::before {
				content: " / ";
			}
		}
	}
	
	td {
		border-bottom: 1px solid grey;
		border-top: 1px solid grey;
		
		&.image {
			border-left: 1px solid grey;
		}
		
		&.spec {
			border: 1px solid grey;
			cursor: pointer;
			text-align: center;
		}
		
		&.resource {
			text-align: center;
		}
		
		&:not(.spec) {
			padding: 0 0.2em;
		}
	}
	
	.number {
		.longNumber {
			display: none;
		}
		.shortNumber {
			display: inline;
		}
	}
	
	.planetCompatible.reqsFulfilled.buildable {
		.level {
			color: limegreen;
		}
	}
	.planetCompatible.reqsFulfilled.notBuildable {
		.level {
			color: red;
		}
	}
	.planetCompatible.notReqsFulfilled {
		.level {
			color: #aaa;
		}
	}
	.notPlanetCompatible {
		.level {
			color: #aaa;
		}
	}
	
	.plusLevel {
		color: orange;
		
		&::before {
			content: "+";
		}
	}
	
	img {
		height: 2.5em;
		width: 2.5em;
	}
}