@import "fleetstart/spec"
@import "fleetstart/input"
@import "fleetstart/briefing"
@import "fleetstart/list"

form.fleetstart {
	clearfix();
}

.fleetstartInput h4,
.fleetstartBriefing h4 {
	background-image: url("img/bg_content_td.png");
	background-size: contain;
	border-bottom: 1px solid $$main_single_border_inner;
	margin-bottom: 0.5em;
	padding: 0.25em;
}


.fleetstartInput > *,
.fleetstartBriefing {
	if($mobile) {
		box-sizing: border-box;
		margin: 1em 0 0;
		width: 100%;
	}
}