.noFleets {
	emptyPageMessage("Du hast gerade keine fliegenden Flotten.");
	
	.head {
		display: none;
	}
}
table.fleets {
	coloredTable();
	
	width: 100%;
	
	th,
	td {
		padding: 0.125em 0.25em;
		text-align: center;
	}
	
	.returnTime2 {
		color: #888;
		font-size: 0.9em;
	}
	
	.actions li {
		color: #BFC4FF;
		cursor: pointer;
		font-weight: bold;
	}
}