//@import "shared/buildspec"
//@import "shared/construction"

:not(.noJobs) + .hangarList {
	margin-top: 10px; // same as margin top topnav
}

.hangarList {
	&:empty {
		background-color: rgba(0, 0, 0, 0.45);
		border: 1px solid #555;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 1em;
		text-align: center;
		width: 100%;
		
		&::after {
			content: "Du kannst gerade keine Schiffe bauen.";
		}
	}
}

.hangar .constructionQueueJob .cancel {
	display: none;
}

.hangar .build.spec {
	&:not(plusLevel0) .specDesc dd.plusLevel::before {
		content: "+";
	}
}

if($desktop) {
	.hangar .build.spec {
		input {
			border-radius: 0.5em 0.5em 0 0;
			border-width: 0.1em;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			font-size: 1.2em;
			margin: 0.5em * (1em / @font-size);
			margin-bottom: 0;
			padding: 0.25em * (1em / @font-size);
			position: relative;
			width: 7.7em * (1em / @font-size);
			z-index: 3;
		}
		
		input + .extra {
			.buttonWrapper,
			.timeWrapper {
				position: relative;
			}
			
			.buttonWrapper {
				height: 0;
				font-size: 1.2em;
				margin-left: 0.5em * (1em / @font-size);
				overflow: hidden;
				transition: height 0.2s ease-in-out;
				-webkit-transition: height 0.2s ease-in-out;
				width: 7.7em * (1em / @font-size);
				
				button {
					bottom: 0;
					border-radius: 0 0 0.5em 0.5em;
					font-size: (1em / 1.2);
					margin: 0;
					position: absolute;
					width: 100%;
					z-index: 2;
				}
			}
			
			.timeWrapper {
				transition: top 0.2s ease-in-out;
				-webkit-transition: top 0.2s ease-in-out;
			}
			.time {
				border: 0.1em solid #43596F;
				border-top: none;
				border-radius: 0 0 0.5em 0.5em;
				font-size: 1.2em;
				margin: 0.5em * (1em / @font-size);
				margin-top: 0;
				position: relative;
				text-align: center;
				width: 7.5em * (1em / @font-size);
				z-index: 1;
				
				time {
					font-size: (1em / 1.2);
				}
			}
		}
		
		input:hover + .extra .buttonWrapper,
		input + .extra .buttonWrapper:hover {
			height: 2.75em * (1 / 1.2);
			
			& + .timeWrapper {
				top: -2.75em;
			}
		}
	}
}
if($mobile) {
	.hangar .build.spec {
		.build-actions {
			clear: both;
			padding: 0.5em;
		}
		input,
		.extra,
		.buttonWrapper {
			display: inline;
		}
		input {
			width: 40%;
		}
		.timeWrapper {
			display: none;
		}
	}
}