form.newMessage,
form.newNote {
	.allyTag {
		font-weight: bold;
	}
	
	if($desktop) {
		& > div {
			display: block;
			margin-bottom: 0.5em;
		}
		label {
			display: block;
			float: left;
			margin-right: 10px;
			text-align: right;
			width: 160px;
		}
		
		input {
			box-sizing: border-box;
			width: 220px;
		}
		.suggest {
			background-color: rgba(0, 0, 0, 0.7);
			box-sizing: border-box;
			display: block;
			left: 170px;
			position: absolute;
			width: 220px;
		}
		.suggest li {
			border: 1px solid #43596F;
			border-top: none;
			font-weight: bold;
			padding: 1px 0.25em;
			
			&:hover {
				background-color: rgba(255, 255, 255, 0.15);
				cursor: pointer;
			}
			
			dt {
				display: none;
			}
		}
		
		.submit {
			text-align: center;
			
			input {
				display: inline;
			}
		}
	}
	
	if($mobile) {
		& > div {
			margin-bottom: 0.5em;
		}
	
		label {
			display: block;
			float: left;
			margin-left: 3%;
			margin-right: 4%;
			text-align: right;
			width: 23%;
		}
		
		input {
			box-sizing: border-box;
			margin-right: 3%;
			width: 67%;
		}
		
		.suggest {
			background-color: rgba(0, 0, 0, 0.7);
			box-sizing: border-box;
			display: block;
			left: 31%;
			position: absolute;
			width: 64%;
		}
		.suggest li {
			border: 1px solid #43596F;
			border-top: none;
			font-weight: bold;
			padding: 1px 0.25em;
			
			&:hover {
				background-color: rgba(255, 255, 255, 0.15);
				cursor: pointer;
			}
			
			dt {
				display: none;
			}
		}
		
		.submit {
			text-align: center;
			
			input {
				display: inline;
			}
		}
	}
	
	textarea {
		font-family: inherit;
		padding: 0.1em;
	}
	
	+ .espionageReport {
		background-color: $$main_background;
		border: 1px solid $$main_single_border_outer;
	}
}