.search table {
	coloredTable();
	
	margin-top: 1em;
	width: 100%;
	
	th,
	td{
		padding: 0.125em 0.25em;
		text-align: center;
		vertical-align: middle;
		
		&.action li {
			display: inline;
		}
		
		&.action a {
			background-image: url("img/message.gif");
			background-repeat: no-repeat;
			background-size: contain;
			cursor: pointer;
			display: inline-block;
			height: 25px;
			text-indent: -5000px;
			width: 25px;
			
			&.writeMessage {
				background-image: url("img/message.gif");
			}
			&.buddyRequest {
				background-image: url("img/buddy.gif");
			}
		}
	}
}