.setting {
	clearfix();
	
	margin-top: 0.2em;
	
	.settingName, .settingValue {
		box-sizing: border-box;
		float: left;
		padding: 0.2em 0.25em;
		width: 50%;
	}
	
	.settingName {
		text-align: right;
	}
	.settingValue {
		input {
			padding-left: 0.2em;
			text-align: left;
		}
	}
	
	.settingValue.passwordChange {
		link();
	}
}

.debugContainer, .submitContainer {
	$linkColor = #BFC4FF;
	
	padding-top: 1em;
	text-align: center;
	
	input {
		cursor: pointer;
	}
	
	a {
		color: rgba($linkColor, 0.3);
		
		&:hover {
			color: rgba(lighten($linkColor, 30%), 0.3);
		}
	}
}

.userPlanetsEditActions {
	&Wrapper {
		position: absolute;
		text-align: center;
		top: -2em;
		width: 100%;
		z-index: 200;
	}
	
	li {
		link();
		display: inline;
		font-weight: normal;
		
		& + li {
			margin-left: 0.5em;
		}
		
		&.active {
			font-weight: bold;
		}
	}
}

.planetEdit {
	background-color: none;
	background-image: url("img/stars.jpg");
	
	h4 {
		margin: 0.33em 0;
		text-align: center;
		
		&::before,
		&::after {
			content: " – ";
		}
	}
}

.planetEditRename,
.planetEditAbandon {
	margin-top: 1em;
}