.main.spec {
	.spec {
		background-color: rgba(black, 50%);
		border: 0.1em solid gray;
		clearfix();
		
		&:not(.costsConstant) .costs {
			display: none;
		}
		
		.specDesc {
			dt,
			dd {
				display: block;
				float: left;
			}
				
			dt {
				clear: left;
				
				&::after {
					content: ":";
				}
				
				&.longDescription,
				&.shortName {
					display: none;
				}
			}
				
			dd {
				margin-left: 0.25em;
				
				&.name {
					font-weight: bold;
				}
				
				&.shortName {
					clear: left;
					
					&::before {
						content: "Kurz: ";
					}
				}
				
				&.longDescription,
				&.shortName {
					margin-left: 0;
					margin-top: 0.25em;
				}
				
				.resources dd::after {
					display: none;
				}
			}
			
			.level,
			.text,
			.time {
				display: none;
			}
			
			.name {
				font-size: 1.05em;
			}
			.name,
			.shortName {
				margin-top: 0.25em;
			}
		}
		
		if($desktop) {
			.img {
				float: left;
				height: 10em;
				width: 10em;
				
				img {
					height: 100%;
					width: 100%;
				}
			}
			
			
			.specDesc {
				float: left;
				margin-left: 0.4em;
				width: 35.4em;
			}
			
			div.longDescription {
				display: none;
			}
		}
		
		if($mobile) {
			.img {
				box-sizing: border-box;
				float: left;
				padding-right: 0.4em;
				width: 50%;
				
				img {
					height: 100%;
					width: 100%;
				}
			}
			
			.specDesc {
				float: left;
				width: 50%;
				
				.longDescription {
					display: none;
				}
			}
			
			div.longDescription {
				float: left;
				margin-left: 0.4em;
				margin-top: 0.4em;
			}
		}
	}
		
	h3 {
		margin: 1em 0 0.25em;
	}
		
	table {
		background-color: rgba(black, 50%);
		
		tr.active {
			color: chartreuse;
			
			.level,
			.production {
				font-weight: bold;
			}
		}
		
		tr.levelToggler {
			cursor: pointer;
			text-align: center;
			
			&:hover {
				background-color: rgba(white, 20%);
			}
		}
		
		th,
		td {
			border: 1px solid grey;
			padding: 0.1em 0.25em;
			
			&.level,
			&.number {
				text-align: right;
			}
		}
	}
	
	.rapidfireTo,
	.misfireFrom {
		color: limegreen;
	}
	
	.rapidfireFrom,
	.misfireTo {
		color: red;
	}
	
	.drives,
	.rapidfireList,
	.drivingShips,
	.requiresList,
	.requiredList {
		normalList();
	}
}