.statsTop {
	border: 1px solid $$main_single_border_outer;
	margin-bottom: 1em;
	padding: 0.33em 1em;
}

.stats {
	coloredTable($vertical = false);
	
	.entries {
		width: 100%;
	}
	.entry td {
		padding: 0.125em 0.5em;
		text-align: center;
		vertical-align: middle;
	}
	.entry {
		height: 25px;
	}
	.entry.up .change {
		color: limegreen;
	}
	.entry.down .change {
		color: red;
	}
	.entry.noChange .change {
		color: #87CEEB;
	}
	.entry.up .change::before {
		content: "+";
	}
	.entry.noChange .change::before {
		content: "±";
	}
	.action {
		padding: 0;
	}
	.action a {
		background-image: url("img/message.gif");
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
		height: 25px;
		text-indent: -5000px;
		width: 25px;
	}
	td.extra.allyTag {
		color: #BFC4FF;
		cursor: pointer;
		font-weight: bold;
	}
}