ul.techtree {
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid #555;
	border-bottom: none;
	display: table;
	margin-bottom: 1em;
	width: 100%;
	
	& > li {
		display: table-row;
	}
	& > li > div,
	& > li > dl {
		border-bottom: 1px solid #555;
		display: table-cell;
		padding: 0.25em 0.375em;
	}
	& > li > div {
		border-right: 1px solid #555;
		text-align: right;
		vertical-align: middle;
		width: 250px;
	}
}

.requirements {
	dt,
	dd {
		float: left;
	}
	dt {
		clear: left;
	}

	.onPlanet.fulfilled {
		display: none;
	}
	.required.fulfilled {
		margin-left: 0.25em;
	}

	.onPlanet.unfulfilled::before {
		content: "(";
		margin-left: 0.25em;
	}
	.onPlanet.unfulfilled::after {
		content: "/";
		margin: auto 0.1667em;
	}
	.required.unfulfilled::after {
		content: ")";
	}
	
	.fulfilled {
		color: limegreen;
	}
	.unfulfilled {
		color: red;
	}
}
