//@import "shared/buildspec"
//@import "shared/construction"

:not(.noJobs) + .techsList {
	margin-top: 10px; // same as margin top topnav
}

.techsList {
	&:empty {
		background-color: rgba(0, 0, 0, 0.45);
		border: 1px solid #555;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 1em;
		text-align: center;
		width: 100%;
		
		&::after {
			content: "Du kannst gerade nichts forschen.";
		}
	}
	
	.build.spec {
		&.plusLevel1 .specDesc dd.plusLevel::before {
			content: "+";
		}
	}
}
