.galaxyNavigator {
	$buttonWidth = 1.5em;
	$galaxyInputWidth = 2em;
	$systemInputWidth = 3em;

	$width = $galaxyInputWidth + $systemInputWidth + 4 * $buttonWidth + 1em;
	
	font-size: 1.3em;
	left: 50%;
	margin-left: -($width / 2);
	margin-top: 1em;
	position: relative;
	
	button {
		background-color: black;
		background-image: url("img/input_bg.png");
		background-size: contain;
		border: 0.1em solid #43596F;
		position: relative;
		width: $buttonWidth;
		
		&.lower {
			border-radius: 0.25em 0 0 0.25em;
			border-right: none;
			float: left;
		}
		
		&.higher {
			border-left: none;
			border-radius: 0 0.25em 0.25em 0;
			float: right;
		}
	}
	
	button, input {
		box-sizing: border-box;
		color: inherit;
		font-size: 1em;
		height: 1.4em;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	input {
		float: left;
		left: $buttonWidth;
		position: relative;
	}
	
	.galaxyChangers {
		float: left;
	}
	
	navigatorPart($inputWidth, $add = 0) {
		float: left;
		width: $inputWidth + 2 * $buttonWidth + $add;
		
		input {
			width: $inputWidth;
		}
		
		button.lower {
			left: -1 * $inputWidth;
		}
	}
	
	.galaxies {
		navigatorPart($galaxyInputWidth, 1em);
		
		&::after {
			content: ":";
			float: left;
			font-weight: bold;
			padding-top: 0.2em;
			text-align: center;
			width: 1em;
		}
	}
	
	.systems {
		navigatorPart($systemInputWidth);
	}
}