.overlayContainer {
	.ovents {
		background-image: url("img/stars.jpg");
	}
	
	.ovent {
		background-color: rgba(0, 0, 0, 0.25);
		top: 1px solid #555;
		
		&:last-child {
			border-bottom: 1px solid #555;
		}
		.text {
			width: 530px;
		}
	}
}