.galaxySends {
	font-weight: bold;
	margin: 0;
	padding: 0;
	
	> li {
		clear: left;
		clearfix();
	}
	li + li + li:not(.error):not(.unclassified):not(.unknown) {
		display: none;
	}
	
	.success {
		color: limegreen;
	}
	.unknown {
		color: yellow;
	}
	.error {
		color: red;
	}
	.planet {
		float: left;
	}
	.result {
		float: left;
		margin-left: 0.25em;
	}
}
