.galaxy {
	table {
		coloredTable($vertical = false);
		
		border-spacing: 2px;
		margin-top: 5.25em;
		width: 100%;
	}
	tr {
		height: 30px;
	}
	td {
		padding: 0 2px;
		vertical-align: middle;
	}
	.head {
		height: 1.2em;
	}
	.head th {
		vertical-align: bottom;
	}
	tr + tr {
		border-top: none;
	}
	tr:not(.containsPlanet):not(.colonizable):not(.head) {
		text-indent: -5000px;
		
		if($desktop) {
			height: 0.6em;
			line-height: 0.6em;
		}
		if($mobile) {
			height: 0.3em;
			line-height: 0.3em;
		}
	}
	tr.head {
		text-align: center;
	}
	tr.colonizable {
		.planetImage span {
			background-color: rgba(255, 255, 255, 0.1);
			border: 1px rgba(255, 255, 255, 0.3) dashed;
			display: block;
			height: 26px;
			width: 26px;
		}
	}
	
	img {
		height: 30px;
		margin: 0;
		padding: 0;
		width: 30px;
	}
	td.index {
		text-align: center;
		vertical-align: middle;
		width: 15px;
	}
	td.planetImage {
		vertical-align: middle;
		width: 30px;
	}
	td.planetName {
		text-align: center;
	}
	td.planetName .activity::before {
		content: "(";
		margin-left: 0.25em;
	}
	td.planetName .activity::after {
		content: ")";
	}
	td.moonImage {
		width: 30px;
	}
	td.debrisImage {
		width: 30px;
	}
	td.userName {
		text-align: center;
	}
	td.userName .flags:not(:empty)::before {
		content: "(";
		margin-left: 0.25em;
	}
	td.userName .flags:not(:empty)::after {
		content: ")";
	}
	td.userName .flag + .flag {
		margin-left: 0.167em;
	}
	td.actions {
		padding: 0;
	}
	td.actions li {
		background-repeat: no-repeat;
		cursor: pointer;
		float: left;
		height: 20px;
		margin-left: 5px;
		text-indent: -5000px;
		width: 20px;
	}
	td.actions .espionage {
		background-image: url("img/espionage.gif");
	}
	td.actions .newmessage {
		background-image: url("img/message.gif");
	}
	td.actions .buddyrequest {
		background-image: url("img/buddy.gif");
	}
	.harvest {
		color: #BFC4FF;
		cursor: pointer;
		font-weight: bold;
	}
	.allyTag {
		color: #BFC4FF;
		cursor: pointer;
		font-weight: bold;
	}
	
	tr.systemOwned .planetName {
		font-style: italic;
		
		.activity {
			font-style: normal;
		}
	}
	
	.noob {
		color: #A0FFA0;
	}

	.strong { 
		color: #FFA0A0;
	}

	.inactive { 
		color: #CCCCCC;
	}

	.longinactive { 
		color: #999999;
	}

	.vacation { 
		color: skyblue;
	}

	.banned {
		text-decoration: line-through;
	}

	.admin {
		color: orange;
	}
}

.tooltip.planet {
	.title {
		font-size: 1.1em;
		font-weight: bold;
		margin-bottom: 0.25em;
		margin-right: 0.5em;
	}
	img,
	.actions,
	.properties,
	.additional {
		float: left;
	}
	img {
		height: 80px;
		width: 80px;
	}
	.actions,
	.properties {
		margin-left: 0.25em;
		margin-right: 1em;
	}
	.properties dt,
	.properties dd {
		float: left;
	}
	.properties dt {
		clear: left;
	}
	.properties dt::after {
		content: ":";
		margin-right: 0.25em;
	}
	.properties dd.diameter::after {
		content: "km";
		margin-left: 0.1667em;
	}
	.properties dd.temperature::after {
		content: "°C";
		margin-left: 0.1667em;
	}
	&.moon .actions {
		clear: left;
		margin-top: 0.5em;
	}
	.actions li {
		color: #BFC4FF;
		cursor: pointer;
		font-weight: bold;
	}
	.actions .phalanx {
		margin-top: 0.5em;
	}
}
.tooltip.user {
	padding: 0;
	
	.tooltipHeader {
		padding: 0.25em;
	}
}