.fleetstartCoords {
	box-sizing: border-box;
	margin-top: 20px;
	width: 340px;
	
	h4 label {
		display: block;
		float: left;
	}
	label {
		display: block;
		float: left;
		margin-right: 6px;
		text-align: right;
		
		if($desktop) {
			width: 152px;
		}
		if($mobile) {
			overflow: hidden;
			text-overflow: ellipsis;
			width: 35%;
		}
	}
	label[for=speed],
	select#fleetstartSpeed {
		margin-bottom: 6px;
		margin-top: 6px;
	}
	select#fleetstartSpeed {
		display: block;
	}

	label[for=fleetstartMoon],
	select#fleetstartMoon {
		margin-bottom: 6px;
	}
	
	#fleetstartGalaxy {
		width: 1.5em;
	}
	#fleetstartSystem {
		width: 2.5em;
	}
	#fleetstartOrbit {
		width: 2em;
	}
}