.fleetstartMission {
	box-sizing: border-box;
	margin: 20px 0 0 20px;
	width: 280px;

	*:not(:first-child) {
		display: block;
		float: left;
		margin-bottom: 0.25em;
		margin-top: 0.25em;
	}
	label {
		margin-right: 6px;
		text-align: right;
		
		if($desktop) {
			width: 112px;
		}
		if($mobile) {
			overflow: hidden;
			text-overflow: ellipsis;
			width: 35%;
		}
	}
}
#fleetstartFormation {
	max-width: 155px;
}