.fleetstartResources {
	box-sizing: border-box;
	margin-left: 20px;
	width: 280px;
	
	li {
		height: 26px;
	}
	li > * {
		display: block;
		float: left;
	}
	label {
		clear: left;
		text-align: right;
		
		if($desktop) {
			padding-right: 5px;
			width: 80px;
		}
		if($mobile) {
			padding-right: 2.5%;
			width: 27.5%;
		}
	}
	input {
		if($desktop) {
			box-sizing: border-box;
			width: 95px;
		}
		if($mobile) {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			margin-right: 2.5%;
			width: 37.5%;
		}
	}
	
	span.max {
		if($desktop) {
			line-height: 1.4em;
			margin-left: 6px;
			width: 92px;
		}
		if($mobile) {
			margin-left: 0;
			width: 30%;
		}
	}
	span.max,
	span.maxAll {
		cursor: pointer;
		
		&::before {
			content: "(";
			color: #EEE;
		}
		&::after {
			content: ")";
			color: #EEE;
		}
	}
	
	span.maxAll {
		color: #BFC4FF;
		margin-left: 6px;
		width: 80px;
	}
}