.fleetstartSpecs {
	box-sizing: border-box;
	width: 340px;
	
	&.noSpecs::after {
		content: "Auf diesem Planeten sind keine Schiffe stationiert.";
		display: block;
		font-style: italic;
		margin: 0.5em auto;
		text-align: center;
		width: 100%;
	}
	
	h4 span {
		color: #BFC4FF;
		cursor: pointer;
		margin-left: 6px;
		
		&.maxAll {
			&::before {
				content: "(";
				color: #EEE;
			}
			&::after {
				content: ",";
				color: #EEE;
			}
		}
		&.showAll {
			&::after {
				content: ")";
				color: #EEE;
			}
		}
	}
	
	
	dd.level {
		line-height: 1.4em;
	}
}