.prodFactor {
	background-color: $$main_background;
	border: 1px solid $$main_single_border_outer;
	height: 1.2em;
	padding: 0.25em;
	
	p {
		float: left;
		font-weight: bold;
		
		&:first-child::after {
			content: ":";
			margin-right: 0.25em;
		}
	}
	
	.bad {
		color: red;
	}
	.good {
		color: limegreen;
	}
}