.economy {
	.production {
		coloredTable();
		
		margin-top: 1em;
		width: 100%;
		
		.head th {
			padding-bottom: 0.25em;
		}
		.total td {
			padding-top: 0.25em;
		}
		td,
		th {
			padding: 0.125em 0.25em;
		}
		.total {
			font-weight: bold;
		}
		.resource {
			padding-right: 0.5em;
			text-align: right;
		}
		.factor {
			text-align: center;
		}
		.positive {
			color: limegreen;
		}
		.positive::before {
			content: "+";
		}
		.negative {
			color: red;
		}
		.zero {
			color: white;
		}
		.spec {
			.level {
				margin-left: 0.25em;
			}
				
			if($desktop) {
				.shortName {
					display: none;
				}
				
				.level::before {
					content: "(Stufe:";
				}
				.level::after {
					content: ")";
				}
			}
			if($mobile) {
				.displayName {
					display: none;
				}
			}
		}
		if($desktop) {
			.solarsatellite .spec .level::before {
				content: "(Anzahl:";
			}
		}
	}
}