if($desktop) {
	.actionResult {
		color: white;
		font-weight: bold;
		margin: 1em 1em;
		padding: 0.25em 0.5em;
		
		&.errors,
		&.error {
			background-color: #E04D4D;
			border: 2px solid #C43D3D;
		}

		&.success {
			background-color: #68C436;
			border: 2px solid #55A12C;
		}

		&.warning {
			background-color: #EAAF51;
			border: 2px solid #D99A36;
		}

		&.info {
			background-color: #6C8DD5;
			border: 2px solid #1142AA;
		}
		
		&.global {
			border-width: 0.2em;
			font-weight: bold;
			left: 50%;
			margin: 3em 0 0 -24em;
			padding: 1em;
			position: absolute;
			text-align: center;
			width: 45.6em;
			z-index: 200;
			
			&:not(.persistent) {
				animation: globalFadeout 4s;
				opacity: 0;
				transform: translate(9999px);
			}
			
			> * {
				font-size: 1.1em;
			}
		}
		
		.minor {
			font-size: 0.9em;
			font-weight: normal;
			margin-top: 0.5em;
		}
		
		@keyframes globalFadeout {
			0% {
				opacity: 1;
				transform: translate(0);
			}
			
			80% {
				opacity: 1;
				transform: translate(0);
			}
			
			100% {
				opacity: 0;
				transform: translate(0);
			}
		}
	}
}
if($mobile) {
	.actionResult {
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		width: 100%;
		
		> li {
			margin-top: 0;
			padding: 0.1em 0.33em;
			
			+ li {
				border-top-width: 1px !important;
			}
		}
			
		&.success {
			$color = limegreen;
			background-color: lighten($color, 70%);
			border-top: 2px solid lighten($color, 10%);
			color: darken($color, 10%) !important;
		}
		
		&.unclassified {
			$color = yellow;
			background-color: lighten($color, 70%);
			border-top: 2px solid darken($color, 35%);
			color: darken($color, 35%) !important;
		}
		
		&.error,
		&.errors {
			$color = red;
			background-color: lighten($color, 70%);
			border-top: 2px solid lighten($color, 20%);
			color: lighten($color, 10%) !important;
		}
	}
}