.activity {
	&.on {
		color: limegreen;
		font-weight: bold;
	}
	&.mid {
		color: yellow;
		font-weight: bold;
	}
	&.off {
		color: red;
		font-weight: bold;
	}
	&.unknown {
		color: lightgrey;
		font-weight: bold;
	}
}