$buttonColorGreen = #306F30;
$buttonColorGreenTop = #307E30;
$buttonColorGreenBottom = #2F602F;
$buttonColorGreenHover = #438943;
$buttonColorGreenDisabledBorder = darken($buttonColorGreen, 50%);
$buttonColorGreenDisabled = darken($buttonColorGreen, 95%);

$buttonColorRed = #8A2E2E;
$buttonColorRedTop = #9A2D2D;
$buttonColorRedBottom = #792F2F;
$buttonColorRedHover = #A54040;
$buttonColorRedDisabledBorder = darken($buttonColorRed, 50%);
$buttonColorRedDisabled = darken($buttonColorRed, 95%);

button {
	cursor: pointer;
	font-size: 1.1em;
	
	if($desktop) {
		border-radius: 0.5em;
		color: white;
		padding: 0.4em 0.6em;
		text-shadow: 0 -1px 0 rgba(black, 0.25);
	}
	if($mobile) {
		background: none;
		display: inline;
		font-weight: bold;
		height: auto;
		margin-left: 0.5em;
		padding: 0 0.15em;
		text-align: left;
		top: 0;
		width: auto;
	}

	&.green { /* partly from bootstrap :) */
		if($desktop) {
			background-color: $buttonColorGreen;
			background-image: -webkit-linear-gradient(to bottom, $buttonColorGreenTop, $buttonColorGreenBottom);
			background-image: linear-gradient(to bottom, $buttonColorGreenTop, $buttonColorGreenBottom);
		
			&:hover {
				background-color: $buttonColorGreenHover;
				background-image: none;
			}
			
			&.disabled {
				background-color: $buttonColorGreenDisabled;
				background-image: none;
				border-radius: 4px;
				border: 1px solid $buttonColorGreenDisabledBorder;
				color: #888;
			}
		}
		if($mobile) {
			color: lighten($buttonColorGreen, 20%) if $mobile;
			
			&.disabled {
				color: #787;
			}
		}
	}

	&.red {
		if($desktop){
			background-color: $buttonColorRed;
			background-image: -webkit-linear-gradient(to bottom, $buttonColorRedTop, $buttonColorRedBottom);
			background-image: linear-gradient(to bottom, $buttonColorRedTop, $buttonColorRedBottom);
			
			&:hover {
				background-color: $buttonColorRedHover;
				background-image: none;
			}
			
			&.disabled {
				background-color: $buttonColorRedDisabled;
				background-image: none;
				border-radius: 4px;
				border: 1px solid $buttonColorRedDisabledBorder;
				color: #888;
			}
		}
		if($mobile) {
			color: lighten($buttonColorRed, 20%);
			
			&.disabled {
				color: #877;
			}
		}
	}
	
	.extra {
		font-size: 0.75em;
	}
	
	if($mobile) {
		.main,
		.extra {
			display: inline;
		}
		
		.extra {
			color: white;
			font-weight: normal;
			
			&::before {
				content: "(";
				margin-left: 0.25em;
			}
			&::after {
				content: ")";
			}
		}
	}
}