input[type="text"],
input[type="password"],
input[type="submit"],
input[type="reset"],
input[type="number"] {
	background-color: black;
	background-image: url("img/input_bg.png");
	background-size: contain;
	border: 1px solid #43596F;
	color: white;
	font-size: 1em;
	font-weight: bold;
	padding: 1px;
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

textarea {
	background-color: #070707;
	border: 1px solid #43596F;
	box-sizing: border-box;
	color: #FFFFFF;
	height: 8em;
	width: 100%;
}