if($desktop) {
	$barWidth = 5px;
	$barPadding = 7px;

	.overlayContainer { /* height: 490, width: 690 */
		background-color: white;
		cursor: move;
		height: 466px;
		left: 50%;
		margin-left: -333px;
		margin-top: -233px;
		position: fixed;
		top: 50%;
		width: 666px;
		z-index: 50;
		
		.overlayBar {
			background-color: #444;
			position: absolute;
		}
		.overlayTopBar, .overlayBottomBar {
			height: $barWidth;
			width: 100%;
		}
		.overlayLeftBar, .overlayRightBar {
			height: 100%;
			width: $barWidth;
		}
		.overlayTopBar {
			cursor: n-resize;
			top: 0;
		}
		.overlayLeftBar {
			cursor: w-resize;
			left: 0;
		}
		.overlayRightBar {
			cursor: e-resize;
			right: 0;
		}
		.overlayBottomBar {
			cursor: s-resize;
			bottom: 0;
		}
	}
	.overlayInner {
		float: right;
		width: 100%;
		
		.close {
			cursor: pointer;
			float: right;
			font-size: 18px;
			height: 24px;
			line-height: 24px;
			padding: 5px;
			position: absolute;
			right: $barWidth;
			text-align: right;
			top: $barWidth;
			vertical-align: middle;
			
			&:hover {
				color: #888;
			}

			.button {
				font-weight: bold;
				font-size: 24px;
				margin-left: 0.5em;
				text-shadow: 0 1px 0 #ffffff;
				vertical-align: sub;
			}
		}
		
		.overlayContent {
			background-color: blue;
			bottom: $barWidth + $barPadding;
			box-sizing: border-box;
			cursor: default;
			left: $barWidth + $barPadding;
			overflow: scroll;
			position: absolute;
			right: $barWidth + $barPadding;
			top: $barWidth + 24px + 2 * 5px; /* include height of .close */
		}
	}
}
if($mobile) {
	.overlayContainer {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 50;
		
		.close {
			background-color: white;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			color: #555;
			font-size: 1.2em;
			padding: 1em;
			position: fixed;
			text-align: right;
			width: 100%;
			
			.button {
				font-weight: bold;
				font-size: 1.3em;
				margin-left: 0.5em;
				text-shadow: 0 1px 0 #fff;
			}
		}
	}
	
	.overlayContentWrapper {
		bottom: 0;
		overflow: hidden;
		position: absolute;
		top: 3.5em !important;
		width: 100%;
	}
	.overlayContent {
		width: 100%;
	}
	
	body.overlayShown .mainContainer {
		display: none;
	}
}