.resources {
	display: block;
	
	dt,
	dd {
		display: inline;
	}
	dt::after {
		content: ": ";
	}
	dd:not(:nth-last-of-type(2)):not(:last-of-type)::after {
		content: ", ";
		color: white;
	}
	dd:nth-last-of-type(2)::after {
		content: " und ";
		color: white;
	}
}