.tooltip {
	background-color: rgba(black, 70%);
	border: 1px solid #AAA;
	display: none !important;
	padding: 0.125em 0.25em 0.25em;
	position: absolute;
	z-index: 99;

	&.shown {
		display: block !important;
	}

	.tooltipHeader {
		background-image: url("img/bg_content_td.png");
		background-size: contain;
	}
	.actions li {
		padding: 0.1em 0.25em;
	}

	.specs dt::after {
		content: ":";
		margin-right: 0.25em;
	}
	.specs dt,
	.specs dd {
		float: left;
	}
	.specs dt {
		clear: left;
	}
}