.combatReport {
	background-color: none;
	background-image: url("img/stars.jpg");
	padding: 3px;

	.attackers,
	.defenders {
		text-align: center;
	}
	.defenders {
		margin-top: 2px;
	}
	.round,
	.result {
		margin-top: 1em;
	}
	.group {
		background-color: #346;
		border: 1px solid #415680;
		display: inline-block;
	}
	.groupDesc {
		border-bottom: 1px solid #415680;
		clearfix();
		padding: 3px 2px;
		
		.username,
		.coordinates {
			display: inline;
		}
		
		.combatHelpers {
			clear: both;
			
			dt::after {
				content: ": ";
			}
			
			dt,
			dd {
				display: inline;
			}
			dd + dt::before {
				content: ", ";
			}
		}
	}
	.attackers .username::before {
		content: "Angreifer";
		margin-right: 0.25em;
	}
	.defenders .username::before {
		content: "Verteidiger";
		margin-right: 0.25em;
	}
	.username {
		margin-right: 0.25em;
	}
	.group .specs {
		min-width: 150px;
		width: 100%;
		
		tr:not(:last-child) {
			border-bottom: 1px solid #415680;
		}
		td {
			border-left: 1px solid #415680;
		}
		th,
		td {
			padding: 2px 4px;
		}
	}

	.winner {
		margin-top: 1em;
	}
	.combatReportFooter .resources::after {
		content: ".";
	}
	.units {
		margin-top: 1em;
	}
	.units > span {
		display: block;
	}
	.debris {
		margin-top: 1em;
	}
	.moonChance {
		margin-top: 1em;
	}
	.recreatedDefense {
		margin-top: 1em;
	}
	.recreatedDefenseSpecs {
		display: inline;
		
		dt,
		dd {
			display: inline;
		}
		dt::after {
			content: ":";
			margin-right: 0.25em;
		}
		dd:not(:last-of-type)::after {
			content: ",";
			margin-right: 0.25em;
		}
	}
}