@import "message/espionageReport";

ul.messages:empty {
	background-color: $$main_background;
	border: 1px solid $$main_single_border_outer;
	box-sizing: border-box;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
	width: 100%;
	
	&::after {
		content: "Du hast gerade keine Nachrichten.";
	}
}
// TODO modularise this
.message,
.note {
	background-color: $$main_background;
	border: 1px solid $$main_multiple_border_outer;
	
	& + & {
		margin-top: 10px;
	}
	&.checked {
		background-color: rgba(#BB7, 0.15);
		border: 1px solid #BB7;
	}
	.noteInfo {
		cursor: pointer;
		padding-left: 0 !important;
	}
	.messageInfo,
	.noteInfo {
		padding: 0 0.2em;
		
		if($desktop) {
			height: 1.2em;
		}
		if($mobile) {
			@media screen and (orientation: landscape) {
				height: 1.2em;
			}
			@media screen and (orientation: portrait) {
				height: 2.45em;
			}
		}
		
		.timeRelative {
			display: none;
		}
		
		dt {
			display: none;
		}
		.timeAbsolute,
		.time {
			float: right;
		}
		.sender {
			float: left;
			
			&::after {
				content: ":";
			}
		}
		.checked {
			float: right;
			margin-top: 0.2em;
		}
		.opened {
			background-repeat: no-repeat;
			background-size: contain;
			float: left;
			font-weight: bold;
			margin-right: 0.2em;
			text-indent: -5000px;
			margin: 0.15em 0.2em 0;
			width: 0.8em;
				
			&.true {
				background-image: url("icon/plus-60.png");
				/*
				&:hover {
					background-image: url("icon/plus-20.png");
				}*/
			}
				
			&.false {
				background-image: url("icon/minus-60.png");
				/*
				&:hover {
					background-image: url("icon/minus-20.png");
				}*/
			}
		}
		.attachments {
			background-repeat: no-repeat;
			background-size: contain;
			float: right;
			margin: 0.1em;
			text-indent: -5000px;
			width: 1em;
			
			&.espionageReportAttachment {
				background-image: url("icon/attachment-0.png");
			}
		}
		.subject {
			float: left;
			font-weight: bold;
			
			if($desktop) {
				margin-left: 0.375em;
			}
			
			@media screen and (orientation: portrait) {
				clear: left if $mobile;
			}
			
			@media screen and (orientation: landscape) {
				margin-left: 0.375em if $mobile;
			}
		}
	}
	.messageText,
	.noteText {
		border-top: 1px solid $$main_multiple_border_inner;
		padding: 0 2px;
	}
	
	&.message:not(.espionageReport) .specs,
	&.message:not(.espionageReport) .specs dt,
	&.message:not(.espionageReport) .specs dd {
		display: inline;
	}
	&.message:not(.espionageReport) .specs::before {
		content: " (";
	}
	&.message:not(.espionageReport) .specs dt::after {
		content: ": ";
	}
	&.message:not(.espionageReport) .specs dd:not(:last-of-type)::after {
		content: ", ";
	}
	&.message:not(.espionageReport) .specs::after {
		content: ")";
	}
	&.message:not(.espionageReport) .resources {
		display: inline;
	}
	.messageExtra,
	.noteExtra {
		border-top: 1px solid $$main_multiple_border_inner;
		height: 1.2em;
		padding: 0 0.125em;
		
		li a {
			color: #BFC4FF;
			cursor: pointer;
			font-size: 0.9em;
			font-weight: bold;
			text-decoration: none;
		}
	}
	.messageDefaultActions li,
	.noteDefaultActions li {
		float: left;
		
		if($mobile) {
			&.check {
				display: none;
			}
		}
	}
	.messageMoreActions li,
	.noteMoreActions li {
		float: right;
	}
	.messageDefaultActions li + li::before,
	.messageMoreActions li + li::after,
	.noteDefaultActions li + li::before,
	.noteMoreActions li + li::after {
		content: "\25CF"; /* B7 2043 25CF */
		margin: 0 0.25em;
	}
	
	&.combat {
		a {
			color: inherit;
		}
		
		.units,
		.units > * {
			display: inline;
		}
		.units::before {
			content: "(";
			margin-left: 0.25em;
		}
		.units::after {
			content: ")";
		}
		.units dt::after {
			content: ":";
			margin-right: 0.25em;
		}
		.units dd:not(:last-of-type)::after {
			content: ",";
			margin-right: 0.25em;
		}
		.messageText {
			cursor: pointer;
			font-weight: bold;
		}
		.attacker.attacker_win {
			color: #00B000;
		}
		.attacker.draw {
			color: #C0C000;
		}
		.attacker.defender_win {
			color: #C00000;
		}
		.defender.attacker_win  {
			color: red;
		}
		.defender.draw {
			color: yellow;
		}
		.defender.defender_win {
			color: limegreen;
		}
	}
	
	.sender .allyTag {
		font-weight: bold;
		margin-left: 0.25em;
	}
}

.note .espionageReport {
	border-top: 1px solid $$main_multiple_border_inner;
	margin-top: 0.5em;
}