if($desktop) {
	.messageTopBar,
	.noteTopBar {
		border: 1px solid transparent;
		min-height: 2em;
		margin-bottom: 1em;
		width: 100%;
		
		a.newMessage,
		a.newNote {
			float: right;
			padding: 0.4em 1em;
		}
		
		.checkedMessagesContainer {
			display: inline-block;
			float: left;
			margin: 0 0.6em;
			
			.messageButtonText {
				background-color: $$main_background;
				border: 1px solid $$main_single_border_outer;
				cursor: pointer;
				height: 1.2em;
				padding: 0.3em 0;
				text-align: center;
				width: 15em;
				
				&:hover:not(.enabled) {
					background-color: rgba(white, 10%);
				}
				
				&.enabled {
					background-color: #AAA;
					border: 1px solid #AAA;
					border-bottom: 1px solid $$main_single_border_inner;
					color: black;
				}
			}
			
			.messageButtonOpen {
				background-color: rgba(black, 80%);
				border: 1px solid #AAA;
				border-top: none;
				display: none;
				position: absolute;
				width: 15em;
				z-index: 50;
				
				li {
					border-bottom: 1px solid $$main_single_border_inner;
					cursor: pointer;
					padding: 0.25em 0.6em;
					
					a {
						display: block;
						height: 100%;
						width: 100%;
					}
					
					&:last-child {
						border-bottom: none;
					}
				}
			}
			
			&.checkedMessagesContainer {
				margin-left: 0;
			}
		}
		
		.categoriesContainer {
			margin-top: 3.5em;
			
			&.disabled {
				display: none;
			}
			
			.categoriesText {
				display: none;
			}
			
			.categoriesActions {
				display: flex;
				width: 100%;
				
				li {
					border: 1px solid grey;
					flex-grow: 1;
					padding: 0.25em;
					text-align: center;
					
					&.active {
						background-color: #AAA;
						//border: 1px solid #AAA;
						//border-bottom: 1px solid #888;
						
						a {
							color: black;
						}
					}
					
					&:first-child {
						border-radius: 0.33em 0 0 0.33em;
					}
					
					&:last-child {
						border-radius: 0 0.33em 0.33em 0;
					}
					
					+ li {
						border-left: none;
					}
					
					a {
						display: block;
						font-weight: normal;
						height: 100%;
						width: 100%;
					}
				}
			}
		}
	}
}
if($mobile) {
	a.newMessage {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: block;
		padding: 0 0.5em 0.5em;
		text-align: right;
		width: 100%;
	}
	
	.messageButtonContainer {
		display: none;
	}
}