dl.ally {
	background-color: $$main_background;
	border: 1px solid $$main_single_border_outer;

	&::after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}

	dt,
	dd {
		float: left;
	}
	dt,
	dd.image {
		clear: left;
	}
	dt {
		border-right: 1px solid $$main_single_border_inner;
		margin-right: 5px;
		padding: 1px 5px 1px 0;
		text-align: right;
		width: 50%;
	}
	dt.image,
	dt.publicText,
	dt.internalText {
		border-right: none;
		padding: 1px 0 1px;
	}
	dt.image {
		text-align: center;
		width: 100%;
	}
	dd.image {
		border-bottom: 1px solid $$main_single_border_inner;
		text-align: center;
		width: 100%;
	}
	dd.image img {
		max-height: 319px;
		max-width: 100%;
	}
	dt.publicText,
	dt.internalText {
		border-top: 1px solid $$main_single_border_inner;
		text-align: center;
		width: 100%;
	}
	dd.publicText,
	dd.internalText {
		clear: left;
		width: 100%;
	}
	.change,
	.list,
	.edit,
	.writeMessage,
	.save,
	.join {
		color: #BFC4FF;
		cursor: pointer;
		font-weight: bold;
		margin-left: 0.25em;
	}
	.change::before,
	.list::before,
	.edit::before,
	.writeMessage::before,
	.save::before,
	.join::before {
		content: "(";
	}
	.change::after,
	.list::after,
	.edit::after,
	.writeMessage::after,
	.save::after,
	.join::after {
		content: ")";
	}
}