if($$dev) {
	$$nav_border_outer = red;
	$$main_single_border_outer = orange;
	$$main_single_border_inner = limegreen;
	$$main_multiple_border_outer = yellow;
	$$main_multiple_border_inner = turquoise;
	$$main_background = rgba(green, 25%);
}
if(!$$dev) {
	$$nav_border_outer = #777;
	$$main_single_border_outer = #777;
	$$main_single_border_inner = #555;
	$$main_multiple_border_outer = #777;
	$$main_multiple_border_inner = #555;
	$$main_background = rgba(black, 15%);
}

coloredTable($vertical = true) {
	background-color: $$main_background;

	thead tr,
	tr.head {
		background-image: url("img/bg_content_td.png");
		background-size: contain;
		border: 1px solid $$main_single_border_outer;
	}
	
	tbody tr {
		border-bottom: 1px solid $$main_single_border_inner;
		border-left: 1px solid $$main_single_border_outer;
		border-right: 1px solid $$main_single_border_outer;
		border-top: 1px solid $$main_single_border_inner;
	}
	
	tbody tr:last-child {
		border-bottom-color: $$main_single_border_outer;
	}
	
	td:not(:first-child),
	th:not(:first-child) {
		border-left: 1px solid $$main_single_border_inner if $vertical;
	}
}