clearfix() {
	zoom: 1;
	
	&::before,
	&::after {
		content: "";
		display: table;
	}
	&::after {
		clear: both
	}
}

emptyPageContainer() {
	background-color: 
	$$main_background;
	border: 1px solid $$main_single_border_outer;
	box-sizing: border-box;
	display: block;
	margin-top: 1em;
	padding: 1em;
	text-align: center;
	width: 100%;
}

emptyPageMessage($message) {
	background-color: transparent !important;
	
	&::after {
		content: $message;
		emptyPageContainer();
	}
}

transform() {
	-webkit-transform arguments
	transform arguments
}
transform-origin() {
	-webkit-transform-origin arguments
	transform-origin arguments
}

animation() {
	-webkit-animation arguments
	animation arguments
}
box-sizing() {
	-moz-box-sizing arguments
	box-sizing arguments
}

normalList() {
	list-style-type: disc;
	list-style-position: inside; 
	
	> li {
		display: list-item;
	}
}