* {
	border: 0 none;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul, ol, li {
	display: block;
}